/*div {
	margin: 10px 0;
}*/

#loginButton, #showLoginButton {
	margin-right: 10px;
}

input {
	border-radius: 5px;
}

/*.form-group .form-control {
	margin: 10px 0;
}*/

.register-text {
	margin: 35px 0 0 0;
}

#user-first-name, #user-last-name {
	margin: 15px 0 0 0;
}

 #username, #password {
 	margin: 5px 0;
 } 