/*div {
	margin: 10px 0;
}*/

#loginButton, #showLoginButton {
	margin-right: 10px;
}

input {
	border-radius: 5px;
}

#user-first-name, #user-last-name, #user-phone, #choose-username, #choose-password, #confirm-password {
	margin-top: 2px;
}

 #username, #password {
 	margin: 5px 0;
 } 